<!-- <link
  href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>-->
<link
  href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
  rel="stylesheet"
/>

<nav class="flex items-center justify-between flex-wrap bg-blue-600 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <span class="font-bold l text-xl tracking-widest uppercase">Empresa X</span>
  </div>
  <div class="block lg:hidden">
    <button
      class="
        flex
        items-center
        px-3
        py-2
        border
        rounded
        text-teal-100
        border-teal-400
        hover:text-white
        hover:border-white
      "
      id="navbar-btn"
    >
      <svg
        class="fill-current h-3 w-3"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Menú</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div
    class="w-full block flex-grow lg:flex lg:items-center lg:w-auto"
    id="navbar"
  >
    <div class="text-sm lg:flex-grow text-center lg:text-right">
      <!-- <button
        href="#responsive-header"
        class="
          block
          mt-4
          lg:inline-block
          lg:mt-0
          text-teal-100
          hover:text-white
          mr-4
          text-lg
        "
      >
        Listado de Usuarios
      </button> -->
      <button
        (click)="onLogOut()"
        class="
          inline-block
          text-sm
          px-4
          py-2
          leading-none
          border
          rounded
          text-white
          border-white
          hover:border-transparent
          hover:text-teal-500
          hover:bg-white
          mt-4
          lg:mt-0
          ml-3
        "
      >
        Cerrar Sesión
      </button>
    </div>
  </div>
</nav>
