<div class="container mx-auto py-4">
  <nav class="flex">
    <h1 class="text-2xl font-bold m-4 mt-6">Listado de Clientes</h1>
    <button
      class="
        no-underline
        bg-blue-600
        text-gray-100
        ml-auto
        p-2
        m-4
        rounded-full
        font-semibold font-display
        focus:outline-none
        focus:shadow-outline
        hover:bg-blue-400
        shadow-md
        uppercase
        text-center
      "
      (click)="onAddClient()"
    >
      Agregar Cliente
    </button>
  </nav>
</div>

<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div
        class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
      >
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Nombre
              </th>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Dirección/Direcciones
              </th>
              <th
                scope="col"
                class="
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                Acciones
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let client of clients; let id = index">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                      {{ client.fullName }}
                    </div>
                    <div class="text-sm text-gray-500">
                      {{ client.email }}
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">
                  {{ client.directions }}
                </div>
              </td>

              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <button
                  (click)="onRemoveClient(id)"
                  class="text-indigo-600 hover:text-indigo-900 mr-4"
                >
                  Eliminar
                </button>
                <button
                  (click)="onEditClient(id)"
                  class="text-indigo-600 hover:text-indigo-900"
                >
                  Editar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<div
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  *ngIf="modal"
>
  <div
    class="
      flex
      items-end
      justify-center
      min-h-screen
      pt-4
      px-4
      pb-20
      text-center
      sm:block
      sm:p-0
    "
  >
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <!-- Utilizo este SPAN para centrar el Modal en el Browser -->
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >

    <div
      class="
        inline-block
        align-bottom
        bg-white
        rounded-lg
        text-left
        overflow-hidden
        shadow-xl
        transform
        transition-all
        sm:my-8
        sm:align-middle
        sm:max-w-lg
        sm:w-full
      "
    >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3
              class="text-lg leading-6 font-bold text-gray-900"
              id="modal-title"
            >
              Gestión de Clientes
            </h3>
            <div class="mt-2">
              <div class="flex flex-col space-y-5">
                <div class="flex flex-col space-y-1">
                  <label for="email" class="text-sm font-semibold text-gray-500"
                    >Nombre Completo</label
                  >
                  <input
                    [(ngModel)]="client.fullName"
                    type="text"
                    required
                    autofocus
                    placeholder="Ej: Ymanol Martinez"
                    class="
                      px-4
                      py-2
                      transition
                      duration-300
                      border border-gray-300
                      rounded
                      focus:border-transparent
                      focus:outline-none
                    "
                  />
                </div>
                <div class="flex flex-col space-y-1">
                  <label for="email" class="text-sm font-semibold text-gray-500"
                    >Correo Electrónico</label
                  >
                  <input
                    [(ngModel)]="client.email"
                    type="email"
                    required
                    autofocus
                    placeholder="Ej: ymanolcastillo@gmail.com"
                    class="
                      px-4
                      py-2
                      transition
                      duration-300
                      border border-gray-300
                      rounded
                      focus:border-transparent
                      focus:outline-none
                    "
                  />
                </div>
                <div class="flex flex-col space-y-1">
                  <label for="email" class="text-sm font-semibold text-gray-500"
                    >Dirección/Direcciones</label
                  >
                  <input
                    [(ngModel)]="direction"
                    (keyup.enter)="onAddDirection()"
                    type="text"
                    required
                    autofocus
                    placeholder="Ej: Santiago de los Caballeros"
                    class="
                      px-4
                      py-2
                      transition
                      duration-300
                      border border-gray-300
                      rounded
                      focus:border-transparent
                      focus:outline-none
                    "
                  />
                  <div>
                    <span
                      class="
                        px-2
                        mr-2
                        inline-flex
                        text-xs
                        leading-5
                        font-semibold
                        rounded-full
                        bg-blue-400
                        text-black
                      "
                      *ngFor="let direction of client.directions"
                    >
                      {{ direction }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button
          type="button"
          class="
            w-full
            inline-flex
            justify-center
            rounded-md
            border border-transparent
            shadow-sm
            px-4
            py-2
            bg-red-600
            text-base
            font-medium
            text-white
            hover:bg-red-700
            focus:outline-none
            focus:ring-2 focus:ring-offset-2 focus:ring-red-500
            sm:ml-3
            sm:w-auto
            sm:text-sm
          "
          *ngIf="editBtn"
          (click)="onApplyEdit()"
        >
          Aplicar
        </button>
        <button
          type="button"
          class="
            w-full
            inline-flex
            justify-center
            rounded-md
            border border-transparent
            shadow-sm
            px-4
            py-2
            bg-red-600
            text-base
            font-medium
            text-white
            hover:bg-red-700
            focus:outline-none
            focus:ring-2 focus:ring-offset-2 focus:ring-red-500
            sm:ml-3
            sm:w-auto
            sm:text-sm
          "
          *ngIf="!editBtn"
          (click)="onSaveClient()"
        >
          Agregar
        </button>
        <button
          type="button"
          class="
            mt-3
            w-full
            inline-flex
            justify-center
            rounded-md
            border border-gray-300
            shadow-sm
            px-4
            py-2
            bg-white
            text-base
            font-medium
            text-gray-700
            hover:bg-gray-50
            focus:outline-none
            focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
            sm:mt-0
            sm:ml-3
            sm:w-auto
            sm:text-sm
          "
          (click)="hideModal()"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
